<div class="authContainer" id="authDiv">
    <div class="singInContainer">
        <div class="title-text">
            <h1 class="singIn_h1">Smart Garden</h1>
            <h3 class="singIn_h3">UAS IOT Semester 4</h3>
        </div>
            
        <form class="form" id="formSignIn">
            <h3 id="form-h3" class="singIn_h3">Please Sign In</h3>
            <div class="form-div">
                <label for="emailInput">Email: </label>
                <input type="email" id="emailInput" name="emailInput">
            </div>
            
            <br><br>

            <div class="form-div">
                <label for="password"> Password: </label>
                <input type="password" id="passwordInput" name="passwordInput">
            </div>
        </form>
        <button id="buttonSignin" type="submit" form="">Sign In</button>
    </div>
</div>
<div class="authContainer" id="backgroundAuth"></div>