<div id="container2" class="containerdalem">
    <h1 id="moistureValue">{{moistureInput}}</h1>
    <div class="containerincontainer">
        <h2 class="h2minmax"> 0 </h2>
        <div id="myProgress">
            <div id="myBar"></div>
        </div> 
        <h2 class="h2minmax"> 5k </h2>
    </div>
</div>