<div id="container5" class="containerdalem">
    <h1 id="moistureValue2" class="valueShow">{{moistureInput2}}</h1>
    <div class="containerincontainer">
        <h2 class="h2minmax"> 0 </h2>
        <div id="myProgress" class="progress">
            <div class="bar" id="myBar2"></div>
        </div> 
        <h2 class="h2minmax"> 5k </h2>
    </div>
</div>