{{>auth}}
<div class="top" id="top">
    <div class="top-left">
        <h1 class="h2title">Soil Moisture Today</h1>
        <div class="containerdalem" id="containersize">
            <div id="container"></div>
        </div>
    </div>

    <div class="right" id="right">
        <div class="top-right">
            <h1 class="h2title"> Realtime Soil Moisture</h1>
            {{>topright moistureInput=moistureInput}}
            <h1 class="h2title"> Realtime Soil 2 Moisture</h1>
            {{>topright2 moistureInput2=moistureInput2}}
        </div>

        <div class="bottom-left">
            <h1 class="h2title">Water Pump Control Panel</h1>
            <div id="container3" class="containerdalem">
                <button id="waterPumpButton">Run Water Pump</button>
            </div>
        </div>
    </div>
</div>
