<img class="peepo" src="https://c.tenor.com/gfGEc5C17UIAAAAi/peeporiot-riot.gif" alt="peepo-peepo-riot">
    <nav class="nav">
        <a class="judul" href="">TESTING123</a>
        <ul class="list-menu">
            <li><a href="">Home</a></li>
            <li><a href="">Dashboard</a></li>
        </ul>
    </nav>


<div id="my_dataviz"></div>


