* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

:root {
    margin: 0;
    padding: 0;
    --warna-primary:#121212;
    --warna-secondary:#181818;
    --warna-third:#1ed75f;
    --warna-text:white;
    --warna-bar: #F2BE70;
}

/* *
    --warna-primary:#0d1218;
    --warna-secondary:#1a2430;
    --warna-third:#171d29;
    --warna-text:white;
    --warna-bar: #F2BE70;

*/

body {
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: var(--warna-primary);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

button{
    cursor:pointer;
}

h1,
h2,
h3 {
    margin-block-start: 0em;
    margin-block-end: 0em;
    color: var(--warna-text);
}

p {
    font-size: 56px;
    color: var(--warna-text);
}
/*//////////////////////////////////////////*/
.authContainer {
    display: grid;
    place-items: center;
    overflow-x: hidden;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#backgroundAuth{
    z-index: 1;
    background: url("./content/background.jpg");
    background-color:var(--warna-primary);
    background-size: cover;
    filter: blur(5px);
    -webkit-filter: blur(5px) brightness(50%);
    opacity: 0.5;
}

.singInContainer{
    display: grid;
    min-width: fit-content;
    min-height: 45vh;
    width: 40vw;
    height: fit-content;
    background-color: var(--warna-secondary);
    place-items: center;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.title-text{
    height: fit-content;
    margin-bottom: 2em;
    margin-top: 1em;
    margin-inline: 2em;
}

.form-div{
    width: 100%;
    min-height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.singIn_h1{
    font-size: 6vh;
}

.singIn_h3{
    font-size: 1.25rem;
    font-weight: 300;
}

#form-h3{
    font-weight: 500;
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
}

.form{
    width: 80%;
    max-width: 30rem;
    min-height: 20vh;
    height: fit-content;
    align-items: center;
}

label{
    width: 30%;
    height: fit-content;
    font-size: 1.2rem;
    color: var(--warna-text);
    margin-bottom: 0em;
}

input{
    border-radius: 20px;
    border-style: none;
    min-height: 2.5rem;
    width: 80%;
    padding-left: 1rem;
    margin-right: 0.5rem;
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;
    font-size: medium;
}

#buttonSignin {
    background-color: var(--warna-secondary);
    width: 30%;
    min-height: 3.5rem;
    border-radius: 20px;
    color: var(--warna-text);
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    border-style: solid;
    border-color: var(--warna-text);
    transition: 0.2s;
    font-weight: 500;
    font-size: 1.25rem;
    transition: 0.25s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}
#buttonSignin:hover{
    border-color: var(--warna-third);
    color: black;
    background-color: var(--warna-third);
}

/*//////////////////////////////////////////*/
.top {
    height: fit-content;
    width: 100%;
    padding: 2em 2em 1em 2em;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.bottom {
    height: fit-content;
    width: 100%;
    padding: 0em 2em 2em 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top > div ,
.bottom > div {
    opacity: 0;
    transform: translateY(10%);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: var(--warna-secondary);
}
/*//////////////////////////////////////////*/
.top-left {
    width: 60vw;
    height: fit-content;
    margin-right: 1em;
}

.top-right {
    width: 35vw;
}

.bottom-left {
    width: 35vw;
}

.bottom-right {
    width: 35vw;
}

/*//////////////////////////////////////////*/
.h2title {
    color: var(--warna-text);
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif;
    margin-inline-start: 2rem;
    margin-top: 1rem;
}

#container {
    height: 360px;
    transform: scaleX(1.01);
    padding: 0;
    display: block;
    overflow: visible;
    background-color: var(--warna-secondary);
    border-radius: 20px;
}

.containerincontainer {
    width: 100%;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.containerdalem {
    margin: 1rem 2rem 2rem 2rem;
}
/*//////////////////////////////////////////*/
#container2 {
    height: 80%;
    transform: scaleX(1.01);
    padding: 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#myProgress {
    width: 80%;
    background-color: grey;
}

#myBar {
    width: 0%;
    height: 35px;
    background-color: #F2BE70;
}

#moistureValue {
    color: var(--warna-text);
    font-size: 7vw;
    font-family: 'Montserrat', sans-serif;

}

.h2minmax {
    margin-inline: 1rem;
}
/*//////////////////////////////////////////*/

#waterPumpButton{
    background-color: var(--warna-secondary);
    width: fit-content;
    padding: 1em;
    min-height: 3rem;
    border-radius: 20px;
    color: var(--warna-text);
    border-color: var(--warna-text);
    margin-bottom: 1.5rem;
    border-width: 3px;
    border-style:solid;
    transition: 0.2s;
    font-weight: 600;
    font-size: medium;
}
#waterPumpButton:hover{
    background-color: var(--warna-third);
    color: black;
    border-color: var(--warna-third);
}
.tooltip{
    position: absolute;
    z-index: 150;
    height:fit-content ;
    opacity: 1;
    overflow: visible;
}

@media screen and (max-width: 900px) {
    .top {
        padding: 1em 1em 0 1em;
        flex-direction: column;
    }

    .top-left {
        width: 100%;
        margin-bottom: 1em;
    }

    .top-right {
        width: 100%;
    }

    #container {
        aspect-ratio: 16/9;
        height: 30%;
        margin: 0.5rem 1rem 1rem 1rem;
        overflow: visibleto;
    }

    #container svg {
        transform: scaleX(1.04);
    }

    #container2 {
        min-height: 30vw;
        margin: 0.5rem 1rem 1rem 1rem;
    }

    .h2title {
        margin-inline-start: 1rem;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    #moistureValue {
        font-size: 10vw;
    }
}